{% extends "shared/baselayout.html"%}

{% block title %}登陆首页{% endblock %}

{% block content %}

<style type="text/css"> 
.kjh li {
  list-style:none;
  float: left;
  _display: inline;
  width: 33px;
  height: 33px;
  margin-right: 8px;
  font: 20px/33px "Microsoft YaHei", "微软雅黑", Arial;
  text-align: center;
  color: #fff;
  background: url("/public/images/qiuH.png") no-repeat;
}

.kjh li.lQiu {
    background: url(/public/images/blue.png) ;
}

 
 </style> 

<div class="kjggL">
  <div class="kjxx">
    <em>双色球 第<span class="qHao">2019021</span>期</em>
    <em>奖池滚存：<span class="jChi">￥<span>1,301,850,849</span>元</span></em>
  </div>
  <ul class="kjh">
    <li>02</li>
    <li>05</li>
    <li>07</li>
    <li>08</li>
    <li>20</li>
    <li>27</li>
    <li class="lQiu">04</li>
  </ul>
  
</div>
{% endblock %}
